{{ "<!-- Footer -->" | safeHTML}}
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                {{ range .Site.Params.Footer.social }}
                    <li><a href="{{ .url | safeHTML }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                {{ end }}
            </ul>
            <ul class="copyright">
                <li>&copy; {{ .Site.Params.Footer.copyright }}</li>
                {{ range .Site.Params.Footer.quicklinks}}
                <li>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></li>
                {{ end }}
            </ul>
        </div>
    </footer>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- フッター広告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8931856297830846"
     data-ad-slot="2692950096"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
