{{ partial "header.html" . }}
    <header class="www-header">
        <h1 class="mb4 px2 col-12 sm-col-8 mx-auto">{{ .Title }}</h1>

        <span class="h3 block mb4 px2 col-12 sm-col-8 mx-auto">{{ .Site.Params.description }}</span>

        </header>
    <amp-selector layout="container">
        <main class="flex pl2">

<!--
            <aside class="www-components-sec-nav col-2 xs-hide sm-hide relative">
                <ul class="www-component-anchors list-reset m0 pt0 pb3 px1 caps">
                    <li class="clearfix mb3"><a href="/#post" class="www-component-anchor text-decoration-none left" option="">ブログ</a></li>
                    <li class="clearfix mb3"><a href="/#about" class="www-component-anchor text-decoration-none left" option="">このサイトについて</a></li>
                </ul>
            </aside>
-->
            <article class="www-components flex-auto col-8">
                <section class="www-component-desc" id="samples_templates">
                        <h2>開催カレンダー</h2>
                        <p>月に一度挺後の頻度で開催しています。<br>
                        参加希望の方は[メール](mailto:pclub.onebit@gmail.com)でお問合せください。
                        </p>
                        <iframe src="https://calendar.google.com/calendar/embed?src=pclub.onebit%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                        
<!--
                    <h2 class="www-heading pb4 mb2 relative">Samples &amp; Templates</h2>
                    <div class="mb4">
                        <p>Templates and metadata samples for different kinds of AMPs.</p>
                    </div>
-->
<!--
                    <div class="abe-examples flex flex-wrap">
                      {{- range .Data.Pages }}
                        {{ .Render "li" }}
                      {{- end }}
-->
                    </div>
                </section>
            </article>
        </main>
    </amp-selector>
{{ partial "footer.html" . }}